 #shortcut{
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #F1F1F1;
    z-index: 99;
    position: relative;
    font-size: 12px;
    li.spacer {
    width: 1px;
    height: 12px;
    margin-top: 9px;
    padding: 0;
    background: #ccc;
    // overflow: hidden;
}
#cj-ttbar .dd, #shortcut #ttbar-serv .dd {
    width: 122px;
    padding-bottom: 8px;
}
 #cj-ttbar .dt {
    width: 120px;
    padding-left: 25px;
}

li.dorpdown .dt{
    color:#9A949B;
}
.dorpdown{
    position:relative;
}
.dorpdown:hover .dorpdown-layer{
    display:block;
}
.dorpdown-layer {
    top: 30px;
    background: #fff;
    border: 1px solid #ddd;
    display:none;
}
.dd{
    line-height:24px;
}
 .dd-spacer {
    position: absolute;
    top: -7px;
    height: 10px;
    background: #fff;
    overflow: hidden;
}
.qrcode{
    width: 110px;
    height: 110px;
    display: block;
    margin: 0 auto;
    background:url(../img/ewm.jpg) no-repeat;
    margin-top:25px;
}
.dd-inner div{
    text-align:center;
}
#cj-ttbar .dt .watch-left{
    width: 11px;
    height: 10px;
    position:absolute;
    top: 9px;
    left: 10px;
    background:url(../img/index_icon.png) -60px -39px no-repeat;
}
.cw-icon:hover .ci-right{
    background:url(../img/index_icon.png) -83px -83px no-repeat;
}
li .ci-right {
    display:inline-block;
    top: 12px;
    right: 8px;
    width: 10px;
    height: 7px;
    overflow: hidden;
    font: 400 15px/15px consolas;
    color: #6A6A6A;
    transition: transform .1s ease-in 0s;
     background:url(../img/index_icon.png) -60px -64px no-repeat;
}
 .ci-right s {
    width: 8px;
    height: 18px;
    position: relative;
    top: 6px;
    text-decoration: none;
    // background:url(../img/index_icon.png) -60px -64px no-repeat;
}
.dt{
     float:left;
    padding: 0 8px;
   }
    li{
    float:left;
    height: 30px;
    padding: 0 2px;
    }
    .header{
        width: 1210px;
        height: 30px;
        margin:0 auto;
    }
    .header li a{
         color: #9A949B
    }
    .cw-icon {
    position: relative;
    cursor: default;
    zoom: 1;
    }
}
// 底部
#foot{
        min-width:1210px;
        margin-top: 60px;
        .foot-wrap{
           background: #ff3e68;
           
           padding: 41px 0 10px 0;
           .w{
            height: 214px;
            .logo{
                float:left;
                 margin-left: 10px;
                  i{
                    background:url(../img/logo1.png) no-repeat;
                    width: 150px;
                    height: 59px;
                    display: block;
                 }
                }
            .col{
                float:left;
                margin-left: 43px;
                padding-top: 6px;
                li{
                    float:left;
                    width: 135px;
                    height: 122px;
                    padding-left: 64px;
                    .title{
                        width: 72px;
                        display: block;
                        margin-bottom: 16px;
                        font-size: 18px;
                        color:#fff;
                    }
                    a{
                        display: block;
                        padding-left: 1px;
                        color: #d6d6d6;
                        line-height: 22px;
                        font-size: 12px;
                        text-decoration: none;
                    }
                }
                .fore5{
                    width: 180px;
                    .cs-online{
                    padding-left:18px;
                    background:url(../img/bell.png) left center no-repeat;
                     }
                    .jqr{
                        padding-left:18px;
                    background:url(../img/jqr.png) left center no-repeat;
                    }
                }
            }
           }
               .foot-bm{
                height: 40px;
                line-height: 40px;
                text-align: center;
                font-size: 12px;
                color: #fff;
            }
        }
        
        
    }